.post {
    box-sizing: border-box;
    min-width: 300px;
    width: 100%;
    max-width: 650px;
    background-color: #1976d2;
    padding: 10px;
    margin: 10px;
    border-radius: 30px;
    list-style-type: none;
}
.post:hover {
    cursor: pointer;
}
.post-title {
    margin-top: 0;
    text-align: center;
}
.post-link:active,
.post-link:visited,
.post-link {
    color: #ffffff;
    text-decoration: none;
}
